<!DOCTYPE html>
<html>
  <head>
    <!-- Declaring the character encoding for the document as UTF-8 -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    
    <style>
      /* Keeping email-specific styles inline for compatibility */
    </style>
  </head>

  <body>
    <!-- Rendering the content dynamically here -->
    <%= yield %>
  </body>
</html>
